<h3>Heroes List</h3>
        #if ($heroes)
<ul>
#foreach ($hero in $heroes)
<li>$hero.getHeroName()</li>
<li>$hero.getSpecialPower()</li>
#end
</ul>
        #else
<h3>No Heroes yet!</h3>
        #end
<button><a href="/heroes/new">Add New Task</a><button>